*{
    margin:0;
    padding: 0;   
    box-sizing: border-box;
    
}
body{
    background-color:rgb(23, 21, 22);
}

header{
    background-color: black;
    padding: 10px 0px 0px 0px;
    /* border: 2px solid red; */
    
}
header h1{
    color: white;
    margin:0;
    display: inline;
    font-size:2rem;
}
#personal{
    margin-left: 20px;
}
#portfolio{
    color: rgb(255, 47, 102);
    margin-left: 5px;
}

.nav{
    padding: 10px;    
    text-align:center;
    margin-top: 20px ;
    /* border: 1px solid yellow; */
   
}
.nav-links{
    list-style: none;
    display: flex; 
    column-gap: 45px;
    justify-content:center;
    font-size: 1.2rem;    
}
.nav-links a{
    color: white; 
    text-decoration: none;
}
nav a:hover{
    color: rgb(255, 47, 102);
    font-size: 14px;
    /* text-transform: uppercase; */
}
.heading-main{
    /* border: 1px solid rgb(50, 49, 49); */
    background: linear-gradient(to right ,rgb(0, 0, 0),rgba(98, 70, 149, 0.551));
    /* background: linear-gradient(rgb(0, 0, 0),rgba(108, 101, 105, 0.4)); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.avatar-heading {
    color: white;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;      
} 
.avatar{
    /* background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0,0,0,0.8)),url(/avatar.jpg); */
    background: linear-gradient(rgba(10, 10, 60, 0.55),rgba(0,0,0,0.8)),url(../avatar.jpg);
    background-color: rgb(23, 21, 22);
    background-size:cover;
    /* border: 2px solid red; */
    background-repeat: no-repeat;    
    height: 85vh;
    width: 30vw;
}

.avatar-heading h1{
    font-size: 70px;
    margin: 0 0 10px 200px;
    /* border: 1px solid red; */
    padding: 0;
    color: rgb(106, 16, 233);
    /* text-shadow: 10px 1px 40px rgb(106,16,233); */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.avatar-heading h2{
    font-size: 20px;
    margin: 10px 0 0 200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:100;
}
.avatar-heading h3{
    font-size: 1.5rem;
    margin: 10% 0 0 100px;
    padding: 0;
    font-weight: 100;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.about-me-heading{
    color: rgb(255, 47, 102);
    margin: 50px 0;
    text-align: center;
    font-size: 3.5rem;
}
.about-me-content{
    color: whitesmoke;
    text-align: justify;
    margin: 0 25% 50px 25%; 
    font-size: 1.2rem; 
    word-spacing: 5px; 
}
/* .contentstack-name{
    color: rgb(248, 119, 6);
} */
.projects-start{
    text-align: center;
}
.projects-heading{
    color:rgb(255, 47, 102) ;
    font-size: 2rem;
    margin-bottom: 10%;
}
.projects{
    /* color:aliceblue; */
    display: flex;
    justify-content: space-around;
    align-items: center ;
    margin:5%;
    column-gap: 15%;
}
.project{
    border: 1px solid red;
    width: 350px;
    height: 300px;
    color: aliceblue;
    text-align: center;
    padding-bottom: 20px;
    /* border-radius: 20px; */
    margin:1%;
}
.project-heading{
    /* background-color: pink; */
    width: 350px;
    height: 100px;
    /* border-radius: 20px 20px 0 0; */
}
.project-content{
    padding: 20px;
    height: 300px;
    text-align: justify;
    font-size: 1.2rem;
    background-color: rgb(2, 2, 54);
}











