 @import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


*{
    margin:0;
    padding: 0;   
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}
body{
    background-color:rgb(23, 21, 22);
}

header{
    background-color: black;
    padding: 10px 0px 0px 0px;
    /* border: 2px solid red; */
    /* position: fixed;
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0; */
    
}
header h1{
    color: white;
    margin:0;
    display: inline;
    font-size:2rem;
}
#personal{
    margin-left: 20px;
}
#portfolio{
    color: rgb(255, 47, 102);
    margin-left: 5px;
}

.nav{
    padding: 10px;    
    text-align:center;
    margin-top: 20px ;
    /* border: 1px solid yellow; */
   
}
.nav-links{
    list-style: none;
    display: flex; 
    column-gap: 45px;
    justify-content:center;
    font-size: 1.2rem;    
}
.nav-links a{
    color: white; 
    text-decoration: none;
}
nav a:hover{
    color: rgb(255, 47, 102);
    font-size: 14px;
    /* text-transform: uppercase; */
}
.heading-main{
    /* border: 1px solid rgb(50, 49, 49); */
    background: linear-gradient(to right ,rgb(0, 0, 0),rgba(98, 70, 149, 0.551));
    /* background: linear-gradient(rgb(0, 0, 0),rgba(108, 101, 105, 0.4)); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.avatar-heading {
    color: white;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;      
} 
.avatar{
    /* background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0,0,0,0.8)),url(/avatar.jpg); */
    background: linear-gradient(rgba(10, 10, 60, 0.55),rgba(0,0,0,0.8)),url(../avatar.jpg);
    background-color: rgb(23, 21, 22);
    background-size:cover;
    /* border: 2px solid red; */
    background-repeat: no-repeat;    
    height: 85vh;
    width: 30vw;
}

.avatar-heading h1{
    font-size: 70px;
    margin: 0 0 10px 200px;
    /* border: 1px solid red; */
    padding: 0;
    color: rgb(106, 16, 233);
    /* text-shadow: 10px 1px 40px rgb(106,16,233); */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.avatar-heading h2{
    font-size: 20px;
    margin: 10px 0 0 200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:100;
}
.avatar-heading h3{
    font-size: 1.5rem;
    margin: 10% 0 0 100px;
    padding: 0;
    font-weight: 100;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.about-me-heading{
    color: rgb(255, 47, 102);
    margin: 50px 0;
    text-align: center;
    font-size: 3.5rem;
}
.about-me-content{
    color: whitesmoke;
    text-align: justify;
    margin: 0 25% 50px 25%; 
    font-size: 1.2rem; 
    word-spacing: 5px; 
}
/* .contentstack-name{
    color: rgb(248, 119, 6);
} */
.projects-start{
    text-align: center;
}
.projects-heading{
    color:rgb(255, 47, 102) ;
    font-size: 2rem;
    margin-bottom: 5%;
    margin-top: 5%;
}
.projects{
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: space-around;
    align-items: center ;
    margin:0 2.5%;
    /* column-gap: 15%; */
}
.project{
    border: 1px solid rgb(49, 46, 46);
    border-radius: 5px;
    width: 400px;
    height: 200px;
    color: aliceblue;
    text-align: center;
    margin:1% 0;
    background-color:rgba(56, 52, 56, 0.326);
}
.project:hover{
    background-color: rgba(255, 0, 102, 0.553);
    scale: 1.1;
}
.project-heading{
    /* background-color: rgba(63, 59, 60, 0.545); */
    /* border-radius: 20px 20px 0 0; */
    width: 400px;
    height: 100px;
    /* margin-bottom: 15px; */
    padding-top: 1rem;  
    font-size: 1.2rem;
}
.project-content{
    /* padding: 0 30px; */
    /* height: 300px; */
    margin: 0 50px;
    /* padding-bottom: 10px; */
    width: 300px;
    text-align: justify;
    align-items: center;
    font-size: 1.2rem;
    /* background-color: rgb(23, 23, 255); */
}
.education-heading{
    color: whitesmoke;
    text-align: center;
    font-size: 4rem;
    margin: 50px 0 100px 0;
    color: rgb(255, 47, 102);
}
.academic{
    position: relative;
    height: 420px;
    /* background-color: green; */
    display: flex;    
    justify-content: center;
    column-gap: 10%;
}
.academic-card{
    /* position: absolute; */
    width: 250px;
    height: 290px;
    transform-style: preserve-3d;
    transition: all 0s ease-in;
    
    
}
.academic-card:hover{
    transform: rotateY(180deg);
}
.academic-card-front{
    position: absolute;
    width: 250px;
    height: 290px;
    backface-visibility: hidden;
    background: linear-gradient(rgba(24, 24, 149, 0.6),rgba(255, 47, 102,0.5));
    border: 2px solid rgb(210, 204, 204);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
}
.academic-card-back{
    position: absolute;
    width: 250px;
    height: 290px;
    backface-visibility: hidden;
    background: rgb(238, 212, 212);
    transform: rotateY(180deg);
    padding: 40% 0;
    padding-left: 5%;
    text-align:left;
    font-size: 1.2rem;
}

.research-paper-heading{
    color: rgb(255, 47, 102);
    text-align: center;
    font-size: 4rem;
    margin: 0 0 100px 0;
}
.research-paper-content{
    color: whitesmoke;
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-evenly;
    font-size: 1.2rem;
    text-align: justify;
}
.paper-1,.paper-2{
    width: 30%;
    height: 300px;
    padding-top: 25px;
    /* border: 1px solid red; */
}
.button-click-here{
    margin-top: 50px;
    background-color: rgb(255, 47, 102);
    border-radius: 8px;
    padding: 10px;
    font-size: 1rem;
    font-weight: 700;
   
}
.button-click-here a{
    text-decoration: none;
    color: black;
}
.button-click-here a:hover{
    color: rgb(217, 215, 215);
}
.footer{
    color: white;
    height: 100px;
    background-color: black;
    /* background-color: rgb(255, 47, 102); */
    margin-top: 50px;
    padding-top: 20px;
}
.footer-content{
    display: flex;
    justify-content: space-between;
}












